@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .display-large {
    @apply text-7xl font-bold tracking-tight;
  }

  .label-large {
    @apply text-base font-medium;
  }

  .label-tiny {
    @apply text-sm font-medium;
  }

  h3 {
    @apply text-orange-400 text-xl font-semibold;
  }

  body {
    @apply text-white;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-snap-type: x mandatory;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Prevent text selection during transitions */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Primary background */
.primary-bg {
  @apply bg-neutral-950;
}

/* Gradient Animation */
.gradient-animate {
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  @apply bg-gradient-to-b from-orange-400 to-amber-400;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
